<!DOCTYPE html>
<html>
<head>
  <title>Horario</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    th, td {
      text-align: center;
      padding: 8px;
      border: 1px solid #ccc; /* #ccc */
      color: black;
    }
    td {
      width: 100px;
    }
    h1{
      margin: 0;
    }
    h4{
      margin:0;
    }
    td.celdas {
      text-align: left;
      padding: 8px;
      height: 5.5rem;
    }
    .titular {
      background-color: #92C9FF;
    }

    .titular-interino {
      background-color: #FFF176;
    }

    .provisional {
      background-color: #9EFFA3;
    }

    .suplente {
      background-color: #FFA3A3;
    }
  </style>
</head>
<body>
  <h1>Curso: {{curso}}</h1>
  <h4>Turno: {{turno}}</h4>
  <table>
  <thead>
    <tr>
      <th>Horarios</th>
      {{#each schedule}}
        <th>{{this.day}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#eachIndex schedule}}
      <tr>
        <td>
          {{lookup ../horarios @index}}
        </td>
        {{#each ../schedule}}
            {{#with (lookup this.hours @../index)}}
              <td class="celdas {{cssClass}}">
                  {{{materia}}}
                  {{{profesor}}}
              </td>
            {{/with}}
        {{/each}}
      </tr>
    {{/eachIndex}}
  </tbody>
  </table>
  <p>Notas: {{notas}}</p>
</body>
</html>
